<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.udps">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".UDPS"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UDPS">
        <activity
            android:name=".cameraActivity"
            android:exported="false" />
        <activity
            android:name=".accountManagementActivity"
            android:exported="false"
            android:label="@string/title_activity_account_management"
            android:theme="@style/Theme.UDPS.NoActionBar" />
        <activity
            android:name=".photoboardCommentsActivity"
            android:exported="false" />
        <activity
            android:name=".photoboardActivity"
            android:exported="false"
            android:label="@string/title_activity_photoboard"
            android:theme="@style/Theme.UDPS.NoActionBar" />
        <activity
            android:name=".messages"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>